
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
build/
dist/
*.egg-info/

# Manim
media/
*.mp4
*.gif

# LilyPond
*.ly
*.pdf
*.png
*.mid
*.midi

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# User Examples
test_senor.py
examples/kyrie.musicxml
examples/Señor, ten Piedad.musicxml
